{% import "bootstrap/wtf.html" as wtf%}


<!DOCTYPE html>

<html lang="en">

<head>
    {% block head %}
    <meta charset="UTF-8">
    <Title>Books</Title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    {%endblock head%}
</head>


{% block body %}

<body>

    <div class="wrapper">

        {% block navbar %}
        <nav class="navbar navbar-inverse">
            <div class="container">
                <a class="navbar navbar-text" href="{{url_for('api_home.display_books')}}">
                    <h3 class="title">The Books Around The Corner</h3>
                </a>
                <ul class="nav navbar-nav pull-right">

                    <li><a href="{{url_for('api_home.display_books')}}">Home </a> </li>
                    <li><a href="{{url_for('authentication.register_user')}}">Register </a> </li>
                    <li>{%if current_user.is_authenticated%}
                        <a href="{{url_for('authentication.log_out_user')}}">SignOut </a> </li>
                        {%else%}
                        <a href="{{url_for('authentication.do_the_login')}}">SignIn </a>
                        {%endif%}
                    </li>

                    <li>
                        <a href="">
                        {%if current_user.is_authenticated%}
                           LoggedIn as  <b style="color:deepink">{{current_user.user_name.title()}}</b>
                        {%else%}
                            Not LoggedIn
                        {%endif%}
                        </a>
                    </li>

                </ul>
            </div>
        </nav>
    {%endblock navbar%}

          {% for message in get_flashed_messages() %}  <!-- This can display alert message on any web page in flask-->

            <div class="container alert alert-info">
                <button type="button" class="close" data-dismiss="alert"></button>

                {{message}}
            </div>

          {%endfor%}


        {#empty block for custom content#}
    {%block content%}  {%endblock content %}

    {%block footer%}
    <footer>
        <div class="container ftr">
            <hr>
            <p class="text-center small">The Shop Around The Corner | 2017</p>
        </div>
    </footer>
    {%endblock footer%}
    </div>
</body>

{%endblock body%}

</html>
